@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">

    body {
        background-image: none;
        background-color: lightblue;
    }

    .PanelFormat {
        position: relative;
        background-color: rgb(15,15,15);
        text-align: center;
        padding: 5px;
        top: 200px;
    }

    .WelcomeTEXT {
        position: absolute;
        font-size: 9.5vw;
        font-family: "Britannic";
        color: rgb(238, 232, 216);
        text-align: center;
        width: 97%;
    }
</style>

<div class="box">
    <div class="PageFormat">
        <div class="PanelFormat">
                <div style="float: left" class="WelcomeTEXT">Admin Portal</div>
        </div>
    </div>
</div>

@*@section scripts
    {
        <script type="text/javascript">
            $("div.container").removeClass("container").removeClass("body-content");
        </script>
    }*@
